.background {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("../images/city.jpg");
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__link:hover {
    color: #914049;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
}

.collection-item {
    flex: 1 1;
    margin: 8px;
    padding: 24px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Oswald', sans-serif;
}

.collection-item__title {
    margin-bottom: 16px;
    color: #fff645;
}

.collection-item__description {
    font-weight: lighter;
    color: #fff;
}

.img-caption_light {
    color: #fff;
}

.img-caption__name {
}

.img-caption__phone {
    font-weight: lighter;
}

.footer_dark {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}
